@font-face {
  font-family: "ZELDA";
  src: url("assets/fonts/ZELDA Regular.otf") format("opentype"),
    url("assets/fonts/ZELDA Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
